.Table {
  display: flex;
  flex-direction: column;
}

.Table__ListGroup {
  width: 100%;
}

.Table__ListGroup__ListGroupItem__Content {
  display: flex;
}

.Table__ListGroup__ListGroupItem__Content:hover {
  background-color: beige;
}

.Table__ListGroup__ListGroupItem__Title {
  display: inline-flex;
  margin-right: auto;
  min-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Table__ListGroup__ListGroupItem__Property {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
}
